body {
 color: pink; /* Corrected background property*/
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal; /* Added missing semicolon */
  font-style: italic;
}

.completed {
  font-size: 12px;
  font-family: Arial, sans-serif; /* Added a valid font-family */
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}
